<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
       <h3>Edit User</h3>
       <form action="{{url_for('editUser',userID=user.id)}}" method="post">
       	<label>Role:          </label>
       	<input type="text" maxlength="30" name="role" placeholder="{{user.role}}">
       </br>
       </br>
       	<label>Mentor's Email:</label>
       	<input type="text" maxlength="50" name="email">
       </br>
       </br>
       	<button type="submit">Submit</button>
       	<a href="{{url_for('showUser', userID=user.id)}}"><button>cancel</button></a>
       </form>

</body>
</html>